streamlit==1.4.0
pandas-datareader==0.10.0
numpy==1.20.3
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
